table{
    width: 100%;
}

table td{
    height: 5vh;
    width: 10vw;
}


#mainTable div{
    max-width: 100%;
    word-wrap:break-word;
    outline: none;
}

#header{
    margin-bottom: 5vh;
}

button{
    width: 10vw;
    height: 5vw;
    margin: 1em;
}