:root {
  --nav-bg-color: #584FF5;
}
*{
  box-sizing: border-box;
}
html,body{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

#mainTable{
  font-weight: normal;
  text-align: unset;
  color: black;
}

table{
  margin: auto;
  width: 90%;
  border-collapse: collapse;
}

table td{
    height: 5vh;
    width: 10vw;
    user-select: none;
    font-weight: normal;
    text-align: left;
    font-style: normal;
    text-decoration: none;
    color: black;
}

#header{
    margin-bottom: 5vh;
}

#header button{
    width: 10vw;
    height: 5vw;
    margin: 1em;
}

/* GEN CODE SECTION*/
#genCode {
  margin-top: 30px;
  float:left; 
  clear: left;
  width: 100%;
}
#genCode a {
  padding: 10px;
  background-color: #00DE00;
  border: 1px solid green;
  border-radius: 3px;
  font-size: 20px;
}
#genCode a:hover {
  cursor: pointer;
  background-color: white;
  color: green;
}
/*  NAVIGATION */
nav {
  position: relative;
  width: 100%;
  height: 110px;
  font-size: 0;
  margin-bottom: 3vh;
}
.nav-wrapper {
  width: 100%;
  background-color: var(--nav-bg-color);
  position: fixed;
}
.tab {
  position: relative;
  display: inline-block;
  width: auto;
}
.tab-btn {
  position: relative;
  padding: 10px 20px;
  background-color: var(--nav-bg-color);
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
}
.tab-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.tab .active {
  background-color: #f9f9f9;
}
.tab-content {
  display: none;
  position: fixed;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 100vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0 15px;
  z-index: 1;
  height: 60px;
  line-height: 60px;
}
.tab-item {
  display: inline-block;
  font-size: 19px;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
}
.tab-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.tab-content .divider {
  position: absolute;
  border-left: 1px grey solid;
  height: 46px;
  top:7px;
  display: inline-block;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* TOOLTIP */
.tooltip { position: relative; }
.tooltip .tooltip-content {
  display: none;
  padding: 5px;
  position: absolute;
  z-index: 1;
  margin-left: -10px;
  line-height: normal;
  background-color: #f9f9f9;
  min-width: 180px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.tooltip-content .tab-item {
  padding: 5px 0;
  height: auto;
  width: 100%;
}
/* ADD TABLE TOOLTIP */
.tooltip-content .row {
  display: block;
  height: 17px;
}
.tooltip-content .cell {
  display: inline-block;
  margin-right: 2px;
  border: 1px solid #000;
  height: 15px;
  width: 15px;
}
.tooltip-content .cell:hover, .tooltip-content .active {
  border-color: #F57D17;
}
.tooltip:hover .tooltip-content {
  display: block;
}
.tooltip-content .divider {
  position: relative;
  /*border-top: 1px grey solid;*/
  width: 85%;
  height: 1px;
  margin: auto;
  display: block;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}
#aTBL {
  margin: 1px;
  font-size: 16px;
}
.aTB-custom input {
  border: 1px solid #e0e0e0;
  width: 30%;
  border-radius: 3px;
  text-align: center;
  font-size: 15px;
  margin-right: 5px;
}
.aTB-custom input:nth-child(2){
  margin-left: 5px;
  margin-right: 10px;
}
.aTB-custom a:hover {
  color: gray;
  cursor: pointer;
}

.colorCellStyle{
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 2px;
}

.colorCellStyle:hover{
  opacity: 0.7;
}

#borderCell{
  width: max-content;
}

#borderCell > ul{
  padding: 0;
  margin: 0;
}

#borderCell > ul > li{
  list-style-type: none;
  margin: 0.1em;
  padding: 12px;
  padding-left: 48px;
  line-height: 100%;
  background-repeat:no-repeat;
  background-position: left center;
}

#borderCell>ul>li:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.borderChecked{
  background-color: #add8e6 !important;
}

.colorChoosen{
  background-color: #add8e6 !important;
}

.settingChoosen{
  background-color: #add8e6 !important;
}

.buttonChecked{
  background-color: #add8e6 !important;
}

#bottomBorder{
  background: url("../img/borderBottom.png");
}

#topBorder{
  background: url("../img/borderTop.png");
}

#rightBorder{
  background: url("../img/borderRight.png");
}

#leftBorder{
  background: url("../img/borderLeft.png");
}

#allBorders{
  background: url("../img/borderAll.png");
}

#allEdges{
  background: url("../img/fullBorders.png");
}

#horizontalEdges{
  background: url("../img/horizontalBorders.png");
}

#verticalEdges{
  background: url("../img/verticalBorders.png");
}

#clearEdges{
  background: url("../img/noneBorder.png");
}

#borderColorText{
  display: inline-block;
  font-size: 19px;
  height: 100%;
  padding: 0 10px;
  pointer-events:none;
  background-color: black;
  color: black;
}

.colorCellStyleDiv{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: auto .2em;
}

.colorCellStyleDiv:hover{
  opacity: 0.7;
}


i{
  display: inline-block;
  font-size: 19px;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
}

#textColorText{
  display: inline-block;
  font-size: 19px;
  height: 100%;
  padding: 0 10px;
  pointer-events:none;
  background-color: black;
  color: black;
}

/* Style do paska */
#toolBarContainer{
  margin-bottom: 1em;
  width: 90%;
}

#toolBarContainer > table > tbody > tr > td{
  border: 1px solid white;
  background-color: #add8e6;
  color: white;
  padding: 1em;
}

#heightToolBar{
  width: 10%;
  float: right;
}

#body{
  width: 90%;
  display:inline-block;
}

#container{
  width: 100%;
}

#heightToolBar > table > tbody > tr > td{
  border: 1px solid white;
  background-color: #add8e6;
  color: white;
  padding-left: 1em;
}

#heightToolBar > table > tbody > tr > td > label{
  text-decoration: none;
  user-select: none;
  display:inline-block;
}

#textContainer{
  display: none;
  clear: both;
  margin-top: 1em;
}

#textContainer > table > tbody > tr > td{
  border: 1px solid white;
  background-color: #add8e6;
  color: white;
  padding-left: 1em;
}

#textContainer > table{
  width: 50%;
}

input[type="text"]{
  width: 90%;
  padding: .5em;
  border: 1px solid white;
}

label{
  padding: 1em;
  width: 100%;
  display: block;
}