<table id="mainTable" style="border-collapse: collapse;">
<tbody>
<tr>
<td id="0:0" contenteditable="false" rowspan="2" colspan="1" style="background: rgb(0, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: center; height: 10vh;">

</td>
<td id="0:1" contenteditable="false" rowspan="1" colspan="2" style="background: rgb(191, 0, 64); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: center; height: 5vh;">
Average
</td>
<td id="" contenteditable="false" style="background: rgb(0, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left; display: none;">
0:2
</td>
<td id="0:3" contenteditable="false" rowspan="2" colspan="1" style="background: rgb(0, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: center; height: 10vh;">
Red eyes
</td>
<td id="0:4" contenteditable="false" style="background: rgb(0, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left;">
0:4
</td>

</tr>
<tr>
<td id="" contenteditable="false" style="background: rgb(0, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left; display: none;">
1:0
</td>
<td id="1:1" contenteditable="false" rowspan="1" colspan="1" style="background: rgb(0, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: center; height: 5vh;">
height
</td>
<td id="1:2" contenteditable="false" style="background: rgb(0, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left;">
 weight 
</td>
<td id="" contenteditable="false" style="background: rgb(0, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left; display: none;">
1:3
</td>
<td id="1:4" contenteditable="false" style="background: rgb(0, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left;">
1:4
</td>

</tr>
<tr>
<td id="2:0" contenteditable="false" rowspan="1" colspan="1" style="background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: center; height: 5vh;">
Males
</td>
<td id="2:1" contenteditable="false" style="background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left;">
 1.9 
</td>
<td id="2:2" contenteditable="false" style="background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left;">
 0.003 
</td>
<td id="2:3" contenteditable="false" style="background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left;">
 40%
</td>
<td id="2:4" contenteditable="false" style="background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left;">
2:4
</td>

</tr>
<tr>
<td id="3:0" contenteditable="false" rowspan="1" colspan="1" style="background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: center; height: 5vh;">
Females
</td>
<td id="3:1" contenteditable="false" style="background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left;">
 1.7 
</td>
<td id="3:2" contenteditable="false" style="background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left;">
 0.002 
</td>
<td id="3:3" contenteditable="false" style="background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left;">
 43%
</td>
<td id="3:4" contenteditable="false" style="background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); font-size: 15px; text-align: left;">
3:4
</td>

</tr>

</tbody>

</table>
